<div id="<%= dom_id reaction %>">
  <p>
    <strong>Reaction type:</strong>
    <%= reaction.reaction_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reaction.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= reaction.post_id %>
  </p>

</div>
