<div class="row py-5">
  <div class="col-12">
    <h1 class="text-center">Reacción</h1>
  </div>
</div>

<div class="row py-5">
  <div class="col-12">
    <%= render "form", reaction: @reaction %>
  </div>
</div>

<div class="row py-5">
  <div class="col-12">
    <%= link_to "Vuelve al Inicio", reactions_path %>
  </div>
</div>
