<footer style="background-color: black; color: white;">
    <div class="container">
        <div class="row py-5">
            <h4 class="text-center py-3"><%= image_tag("navbar/logo", alt: "Logo", style: "width: 50px; height: 50px;" ) %>  Crazy 4 Cats</h4>
            <div class="col-6">
                <p>Contacto</p>
                <ul>
                    <li>+61584845485</li>
                    <li>crazy4cats_contacto@gmail.cl</li>
                </ul>
            </div>
            <div class="col-6">
                <p>Dirección:</p>
                <ul>
                    <li>734 Main st</li>
                    <li>Australia, kangaaropoint</li>
                </ul>
            </div>
            <h4 class="text-center py-5">Todos los derechos reservados para rodrigo salgado.</h4>
        </div>
    </div>
</footer>